<header class="container">
	<section class="title">
		<a href="{{site.url}}" class="title__name" rel="home">{{site.name}}</a>
	</section>
	<section class="nav">
		<nav id="nav-main" class="menu" role="navigation">
			{% include "partials/menu.twig" with {'items': menu.get_items} %}
		</nav>
	</section>
</header>
