{% extends "partials/tease.twig" %}

{% block content %}
	<h3><a href="{{post.link}}">{{post.title}}</a></h3>
		{% if post.thumbnail.src %}
		<figure class="preview-image">
			<img src="{{post.thumbnail.src}}">
		</figure>
		{% endif %}
		<p>{{post.preview.length(25)}}</p>
{% endblock %}
