#view {
	@apply relative w-full h-full align-top justify-start pt-28;
	flex: 1;
	z-index: 1;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#home {
	.page__title {
		display: none;
	}
}
